data/*
!data/.gitkeep
models/*
!models/.gitkeep
logs/*
!logs/.gitkeep
__pycache__/
.vscode/
*./py[codz]
*$py.class
*.org
*.npz
*.npy
*.pt
*.pth
*.ckpt
*.h5
*.hdf5
*.onnx
*.pkl
*.joblib
*.csv
TO-DO.org
scratch_programs/data/*
